:root {
  --primary-font-family: "Joan", serif;
  --primary-color: rgb(234, 241, 255);
  --secondary-color: rgb(245, 251, 254);
  --footer-color:#0b2f41;
}

body{
      background: var(--secondary-color);
}

.container {
  text-align: center;
  padding-top: 80px;
  display: block;
  margin: 0 auto;
}

.navbar, .photos{
background-color: var(--primary-color) !important;
}

.navbar-brand{
  font-size: 10px !important;
  font-weight: bold;
}

.hero{
      font-family: var(--primary-font-family);
      background-color: var(--primary-color);
      padding:20px;
}

h1, h2{
  text-transform: uppercase;
  font-weight: bold;
    font-family: var(--primary-font-family);
}

h2{
font-size: 22px;
}

h3{
font-size: 18px;
}

.credits{
  font-family: monospace;
  font-size: 14px;
    }

footer{
    padding-top: 20px;
    color: var(--footer-color);
}  

i{
padding:10px;
color: var(--footer-color);
}

a{
    text-decoration: none;
    color:var(--footer-color);
}

.mail{
  font-size: 13px;
}

.camerabtn{
padding:0px;
}

.camerabutton{
  font-size: 15px;
  color:black;
}

.about{
  text-align: left;
  padding-bottom: 50px;
}

.camerabtn sony{
  color:blue;
}

.abouth2{
  font-size: 18px;
    font-family: var(--primary-font-family);
}

.abouth3{
  opacity: 0.8;
  font-family: var(--primary-font-family);
}

.about-par{
  padding-top: 40px;
  padding-bottom: 40px;
  display:block;
  text-align: justify;
  margin:0 auto;
  width: 500px;
  font-family: var(--primary-font-family);
}

.contactme{
  text-transform: uppercase;
  color:rgb(115, 21, 21);
  font-size:20px;
  padding-top: 20px;
}

.contactdetails{
  font-size:17px;
  padding-bottom: 20px;
}

.contactmebtn{
  text-align: center;
}