:root {
  --primary-font-family: "Joan", serif;
  --primary-color: rgb(234, 241, 255);
  --secondary-color: rgb(245, 251, 254);
}

body{
      background: var(--secondary-color);
}

.container {
  text-align: center;
  padding-top: 80px;
  display: block;
  margin: 0 auto;
}

.navbar, .photos{
background-color: var(--primary-color) !important;
}

.navbar-brand{
  font-size: 10px !important;
  font-weight: bold;
}

.hero{
      font-family: var(--primary-font-family);
      background-color: var(--primary-color);
      padding:20px;
}

h1, h2{
  text-transform: uppercase;
  font-weight: bold;
}

h2{
font-size: 22px;
}

h3{
font-size: 18px;
}

.footer{
  font-family: monospace;
  padding-top: 20px;
  font-size: 14px;
  background-color: var(--primary-color);
    }

a{
    text-decoration: none;
}

.camerabtn{
padding:0px;
}

.camerabutton{
  font-size: 15px;
  color:black;
}

.about{
  text-align: left;
  padding-bottom: 50px;
}

.camerabtn sony{
  color:blue;
}

.abouth2{
  font-size: 18px;
}

.abouth3{
  opacity: 0.8;
}

.contactme{
  text-transform: uppercase;
  color:rgb(115, 21, 21);
  font-size:20px;
  padding-top: 20px;
}

.contactdetails{
  font-size:17px;
  padding-bottom: 20px;
}